html, body, #_dash-app-content {
    height: 100% !important;
    min-height: 100% !important;
    margin: 0;
    padding: 0;
}
body {
    background: #f8fafc;
}
.Select-control, .rc-slider, .dash-dropdown, .dash-radioitems, .dash-slider {
    border-radius: 8px !important;
}